# "Data Science Tools and Ecosystem"

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular languages used in Data Science
- Commonly used libraries
- Data Science Tools
- Examples of simple arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SEQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Scientific computing libraries in python
2. Visulaization libraries in python
3. High level machine learning plus deep learning
4. Deep Learning libraries in Python

|Data Science Tools|
|-------------------|
|Hadoop|
|Apache Airflow|
|Apache WIFI|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [16]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [18]:
200/60

3.3333333333333335

## Author
Coledon Kramer